<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Passwort vergessen</title>
    <link rel="stylesheet" href="../stylesheets/forgotPassword.css">
</head>
<body>
  <!-- Passwort vergessen-Formular -->
  <div class="forgot-password-container">
    <h2>Passwort vergessen</h2>
    <div>
      <input type="email" id="email" placeholder="E-Mail" required>
      <input type="password" id="new-password" placeholder="Neues Passwort" required>
      <input type="password" id="confirm-password" placeholder="Passwort wiederholen" required>
      <button onclick="handleResetPassword()">Passwort ändern</button>
      <a href="login.html">Zurück zum Login</a>
    </div>
  </div>
    <script src="../javascripts/forgotPassword.js"></script> 
</body>
</html>