<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registrieren</title>
   <link rel="stylesheet" href="../stylesheets/register.css">
</head>
<body>
  <!-- Registrierungs-Formular -->
  <div class="register-container">
    <h2>Registrieren</h2>
    <div>
      <input type="email" id="email" placeholder="E-Mail" required>
      <input type="password" id="password" placeholder="Passwort" required>
      <input type="password" id="confirm-password" placeholder="Passwort wiederholen" required>
      <button onclick="handleRegister()">Registrieren</button>
      <a href="login.html">Zurück zum Login</a>
    </div>
  </div>
    <script src="../javascripts/register.js"></script> 
</body>
</html>

